body {
    font-family: 'Inter', sans-serif;
}

/* Autocomplete specific styles */
.autocomplete-wrapper {
    position: relative;
    width: 100%;
    /* Make it fill the parent width */
}

#ticker {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px;
}

.suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 100;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.suggestion img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: contain;
    /* Ensure logos fit without distortion */
}